@model IEnumerable<HomeMenuCrudModel>
@{
    ViewData["Title"] = "Assign Product To Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <h4 class="page-header mb-3">Home Page Category</h4>

    <div class="card card-body">
        <form id="formAdd">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Display Title</label>
                        <input name="HomeMenuName" type="text" class="form-control" required />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Display Serial</label>
                        <input name="Sn" type="text" class="form-control" required />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group pt-4">
                        <input name="btnSubmit" type="submit" value="Submit" class="btn btn-danger btn-md btn-rounded" />
                    </div>
                </div>
            </div>
        </form>

        <ul id="menu-list" class="list-group list-group-flush">
            @foreach (var item in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <span>@item.Sn. @item.HomeMenuName</span>
                        <small>
                            <i id="@item.HomeMenuId" data-value="@item.HomeMenuName" data-sn="@item.Sn" class="update far fa-edit mx-2"></i>
                            <i id="@item.HomeMenuId" class="delete far fa-trash-alt"></i>
                        </small>
                    </div>
                    <div>
                        <a href="/product/AssignProductInCategory/@item.HomeMenuId" class="text-success mr-3"><i class="fas fa-plus-circle mr-1"></i>Add Product</a>
                        <a href="/product/UnAssignProductFromCategory/@item.HomeMenuId" class="text-danger"><i class="fas fa-times-circle mr-1"></i>Remove Product</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-notify modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Update</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <form id="formUpdate">
                    <input type="hidden" name="HomeMenuId" />
                    <div class="form-group">
                        <label>Display Title</label>
                        <input type="text" name="HomeMenuName" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Display Serial</label>
                        <input name="Sn" type="text" class="form-control" required />
                    </div>
                    <input name="btnSubmit" type="submit" value="update" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        (function() {
            //add
            const formAdd = document.getElementById("formAdd");
            const formUpdate = document.getElementById("formUpdate");
            formAdd.addEventListener("submit",
                function(evt) {
                    evt.preventDefault();
                    this.btnSubmit.disabled = true;

                    $.ajax({
                        url: "/Product/PostHomeCategory",
                        type: "POST",
                        data: methods.getForm(this),
                        success: response => {
                            $.notify(response.Message, response.IsSuccess ? "success" : "error");

                            if (response.IsSuccess) {
                                location.reload();
                                return;
                            }

                            this.btnSubmit.disabled = false;
                        },
                        error: error => {
                            this.btnSubmit.disabled = false;
                            console.log(error);
                        }
                    });
                });

            //edit/delete
            const menuList = document.getElementById("menu-list");
            menuList.addEventListener("click",
                function(evt) {
                    const element = evt.target;
                    const onUpdate = element.classList.contains("update");
                    const onDelete = element.classList.contains("delete");

                    //update
                    if (onUpdate) {
                        formUpdate.HomeMenuId.value = element.id;
                        formUpdate.HomeMenuName.value = element.getAttribute("data-value");
                        formUpdate.Sn.value = element.getAttribute("data-sn");

                        $("#updateModal").modal("show");
                    }

                    //delete
                    if (onDelete) {
                        $.ajax({
                            url: "/Product/DeleteHomeCategory",
                            type: "POST",
                            data: { id: element.id },
                            success: response => {
                                $.notify(response.Message, response.IsSuccess ? "success" : "error");

                                if (response.IsSuccess) {
                                    location.reload();
                                }
                            },
                            error: error => {
                                console.log(error);
                            }
                        });
                    }
                });

            //post update
            formUpdate.addEventListener("submit",
                function(evt) {
                    evt.preventDefault();
                    this.btnSubmit.disabled = true;

                    $.ajax({
                        url: "/Product/UpdateHomeCategory",
                        type: "POST",
                        data: methods.getForm(this),
                        success: response => {
                            $.notify(response.Message, response.IsSuccess ? "success" : "error");

                            if (response.IsSuccess) {
                                location.reload();
                            }

                            this.btnSubmit.disabled = false;
                        },
                        error: error => {
                            this.btnSubmit.disabled = false;
                            console.log(error);
                        }
                    });
                });
        })();
    </script>
}