@using DevMaker.FileStorage
@model SubMenuWithProductModel
@{
    ViewData["Title"] = Model.MenuName;
    var baseUrl = FileBuilder.RootUrl;
}

@section Styles{
    <link href="~/pages-css/home.css?v=1.0.1" rel="stylesheet" />
}
<div class="container mb-5">
    <ol class="breadcrumb mb-0 px-0 bg-white">
        <li class="breadcrumb-item">
            <a class="black-text" href="/Home/Index">Home</a><i class="fas fa-angle-double-right mx-2"></i>
        </li>
        <li class="breadcrumb-item active">@Model.MenuName</li>
        <li class="breadcrumb-item active">@Model.SubMenuName</li>
    </ol>

    <h4 class="category-title mt-0 mb-4 text-left">@Model.SubMenuName</h4>

    <div id="product-container" class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-lg-3 col-sm-6 col-6 mb-4">
                <div class="card h-100">
                    <div class="view overlay h-100">
                        <img class="card-img-top" src="@baseUrl/@product.ImageFileName" alt="@product.ProductName">
                        <a href="/product/item/@product.ProductId">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <h4 class="product-name">@product.ProductName</h4>
                        <p class="product-price">
                            ৳@product.Price
                            @if (product.OldPrice > 0)
                            {
                                <small class="old-price-label">৳@product.OldPrice</small>
                            }
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


